@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');
/* reset */
html{
    font-size: 62.5%;
    margin: 0;
    scroll-behavior: smooth;
    background: url(../asset/sécurité3.jpeg)no-repeat fixed center center / cover;
}
body{
    font: 1.6rem 'Dosis', sans-serif;
    margin: 0;
}
h1,h2,h3,p,ul,ol{
    margin: 0;
    font-weight: 300;
    padding: 0;
    list-style: none;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
*{
    box-sizing: border-box;
}

/* logo */
img{
    width: 20rem;
    height: 20rem;
    display: block;
    margin: 0 auto 0;
    }
/* theme */
.input{
	font-family: sans-serif;
	font-size: 25px;
	background-color: #255b91;
	color: #fff;
	border: 0px;
	border-radius: 15px;
    text-align: center;
    width: 20rem;
    height: 5rem;
    display: block;
    margin: 0 auto 0;
    cursor: pointer;
    
}

:root{
    --color-form: #ccc;
    --color-button: #448aff;
    --color-warning: #c80000;
}
header{
    margin: 2rem 0;
}
header h1{
    text-align: center;
    line-height: 6rem;
    font-size: 4rem;
}
header h1 > strong{
    text-transform: uppercase;
}
main{
    max-width: 60rem;
    margin: 0 auto;
}
/* submit */


.appear{
    z-index: 1;
    opacity: 1;
}
strong{
    font-size: 50px;
    color: #d1dbe6;
}
